<template>
  <div id="app">
    <div class="headerTop">
      <div class="ui container">
        <div class="ui stackable grid">
          <div class="ui five wide column">
            <span class="ui huge purple header">Frimba</span>
            <span class="ui black huge header">|News</span>
            <span class="meta">The web that matters.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="routeDisplay">
      <component v-bind:is="component" ></component>
    </div>
  </div>
</template>

<script>
import home from './components/home'

export default {
    components:{
      'home': home,
    },
    data () {
      return {
          host: '',
          token: '',
          account: '',
          component: 'home',
          showMsg: false
      }
    },

    methods:{
        setHost: function()
        {
            if(this.$cookies.isKey('host'))
            {
                this.host = this.$cookies.get('host')
            }
            else
            {
                this.$cookies.set('host', "http://192.168.43.86:52987/api/")
                this.host = this.$cookies.get('host')
            }
        },
    },

    created () {
        this.setHost()

    }
}
</script>

<style>
  @import './assets/semantic.css';
body{
    background-color: #efefef;
}
  .headerTop{
    background-color: #fff;
    height: 6em;
    box-shadow: 0px 5px 10px #ccc;
    padding-top: 1.5em;
    position: fixed;
    top:0px;
    z-index: 3000;
    width: 100%;
  }

  .routeDisplay{
    position: absolute;
    top: 7em;
    width: 100%;
  }

  .underline {
    width: 3em;
    border-bottom: 0.3em solid #aaaaaa;
  }
</style>
