<template>
    <div id="home">
        <reader v-if="readerOn" v-bind:blog="propBlog" v-on:back="readerOn = false"></reader>
        <p v-if="loading">Loading content please wait...</p>
        <div v-if="!loading && !readerOn" class="ui container">
            <h2 class="ui grey header">Latest News</h2>
            <div class="underline"></div>
            <br/>
            <div class="ui stackable three purple cards">
                <div v-for="blog in blogs" class="card">
                    <div class="image focus">
                        <img v-bind:src="blog.blogImage" alt="Blog Image"/>
                    </div>
                    <div class="content">
                        <h3 class="ui header">{{blog.blogTitle}}</h3>
                        <p>{{blog.blogContent | shorten}}</p>
                        <button class="ui inverted purple tiny right floated button" @click="readBlog(blog)">Read More...</button>
                    </div>
                </div>
            </div>
            <div class="ui stackable centered grid">
                <div class="ui four wide column">
                    <br>
                    <button v-if="currentPage > 1" @click="prev()" class="ui small purple button">Prev Page</button>
                    <button v-if="currentPage === 1" class="ui small purple disabled button">Prev Page</button>
                    <span class="ui purple header">{{currentPage}}</span><span class="ui header">/{{totalPages}}</span>
                    <button v-if="totalPages > currentPage" @click="next()" class="ui small purple button">next Page</button>
                    <button v-if="totalPages === currentPage" class="ui small disabled purple button">next Page</button>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import reader from './reader'
    export default {
        name: "home",
        components:{
            'reader':reader
        },

        data(){
            return {
                host: this.$cookies.get("host"),
                loading: false,
                allBlogs:[],

                blogs:[],
                currentPage:1,
                totalPages:1,

                propBlog:[],
                readerOn: false
            }
        },

        methods:{
            getBlogs: function()
            {
                this.loading = true
                var link = this.host + "blog/"

                this.$http.get(link).then(function(data)
                {
                    this.allBlogs = data.body

                    this.loading = false
                    this.totalPages = Math.ceil(this.allBlogs.length / 9)

                    this.sortPage()
                })

            },

            sortPage: function()
            {
                var start = (this.currentPage - 1) * 9;
                var end = start + 9;

                this.blogs = []
                var index = 0

                if(this.allBlogs != null)
                {
                    for(var i=start; i<end; i++)
                    {
                        if(this.allBlogs[i] != null)
                        {
                            this.blogs[index] = this.allBlogs[i];
                            index++
                        }
                        else
                        {
                            break;
                        }
                    }
                }
            },

            next:function ()
            {
                if(this.currentPage < this.totalPages)
                {
                    this.currentPage += 1
                    this.sortPage()
                }
            },

            prev:function ()
            {
                if(this.currentPage > 1)
                {
                    this.currentPage -= 1
                    this.sortPage()
                }
            },

            readBlog: function(blog)
            {
                this.propBlog = blog
                this.readerOn = true
            }
        },

        created(){
            this.getBlogs()
        }


    }
</script>

<style scoped>
    .focus{
        cursor: pointer;
    }
</style>