<template>
    <div id="reader">
        <div class="ui container">
            <h1 class="ui huge header">{{blog.blogTitle}}</h1>
            <i>{{blog.site}}</i>
            <div class="underline"></div>
            <br>
            <p>By <i>{{blog.blogAuthor}}</i> </p>

            <div class="ui fluid card">
                <div class="image">
                    <img v-bind:src="blog.blogImage" alt="Blog Image"/>
                </div>
            </div>
            <p class="blogText">
                {{blog.blogContent}}
            </p>
            <p>Date - {{blog.date}}</p>
            <br>
            <button class="ui purple button" @click="$emit('back')">Back to Home</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "reader",
        props:{
            blog:[]
        }
    }
</script>

<style scoped>
.blogText{
    font-size: 18px;
    font-family: "URW Bookman L";
}

</style>